body {
    background-image: image-set('/Images/index/Background_Index.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
}
.wharm{
    justify-content: space-between;
}
*{
    padding: 0px;
    margin: 0px;
}
