.seccion{
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.boton-seccion-dispositivo-red{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 12%;
    height: 30px;
    border: none;
    background-color: transparent;
    border-radius: 15px;
    text-align: center;
    background-color: cadetblue;
    transition-duration: 400ms;
    overflow: hidden;
    color: white;
}
.boton-seccion-dispositivo-red:hover{
    transform: scale(1.04,1.04);
    background-color: yellow;
    color: black;
    border-style: solid;
    border-width: 1pt;
    border-color: black;

}
.botones-cerrar-ventanas{
    font-family: 'Times New Roman', Times, serif;
    background-color:red;
    width: 6vw;
    height: 4vh;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    color: white;
}
.botones-cerrar-ventanas:hover{
    transform: scale(1.04,1.04);
    color: black;
    background-color: salmon;
    border-width: 1pt;
    border-style: solid;
    border-color: black;
}
.ventana-comandos{
    width: 90%;
    height: 0%;
    background-color: blanchedalmond;
    gap: 5px;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.subseccion-principal{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 15px;
}
.subseccion-boton-cerrar{
    width: 90%;
    height: 9%;
    margin-top: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    column-gap: 25px;
}
.estilo-checkbox{
    appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50%;
    background-color:#6C6E72;
    transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out;
    transform: scale(1,1);
}
.estilo-checkbox:disabled{
    background-color: rgb(198, 198, 198);
    transform: scale(0.9,0.9);
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;
}
.estilo-checkbox:checked{
    transform: scale(1,1);
    background: linear-gradient(315deg, #F4B0C0 45%, black 45%, black 55%, #F4B0C0 55%, #F4B0C0 100%);
    transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out; /*Cuando trasbajes con checkbox las trancisiones deben 
                                                                                declararse de manera explicita*/
}
.estilo-checkbox:focus{
    border-color: rgb(80, 67, 250);
    transform: scale(1.1,1.1);
    transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.subventana-configuracion-dispositivos{
    width: 90%;
    height: 0%;
    background-color: aliceblue;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.contenedor-comandos-configuracion{
    width: 90%;
    height: 82%;
    overflow-y: hidden;
    border-radius: 15px;
    border-color: black;
    border-width: 1pt;
    border-style: solid;
    margin: 0 auto;
    padding-left: 10px;
}
.contenedor-solo-comandos-configuracion{
    width: 90%;
    height: 0%;
    overflow-y: hidden;
    border-radius: 15px;
    border-color: black;
    border-width: 1pt;
    border-style: hidden;
    margin: 0 auto;
    padding-left: 10px;
}
.contenedor-comandos-configuracion::-webkit-scrollbar,
.contenedor-solo-comandos-configuracion::-webkit-scrollbar{
    height: 100%;
    width: 12px;
    text-wrap: wrap;
}
.contenedor-comandos-configuracion::-webkit-scrollbar-thumb,
.contenedor-solo-comandos-configuracion::-webkit-scrollbar-thumb{
    background-color: darkolivegreen;
    border-radius: 4px;
    transition-duration: 400ms;
}
.contenedor-comandos-configuracion::-webkit-scrollbar-thumb:hover,
.contenedor-solo-comandos-configuracion::-webkit-scrollbar-thumb:hover{
    background-color: yellowgreen;
    transform: scale(1.1,1.1);
}
.contenedor-comandos-configuracion::-webkit-scrollbar-thumb:active,
.contenedor-solo-comandos-configuracion::-webkit-scrollbar-thumb:active{
    background-color: yellow;
}
.contenedor-comandos-configuracion::-webkit-scrollbar-track,
.contenedor-solo-comandos-configuracion::-webkit-scrollbar-track{
    background-color: steelblue;
    border-radius: 4px;
}
.contenedor-comandos-configuracion::-webkit-scrollbar-track:hover,
.contenedor-comandos-configuracion::-webkit-scrollbar-track:active,
.contenedor-solo-comandos-configuracion::-webkit-scrollbar-track:hover,
.contenedor-solo-comandos-configuracion::-webkit-scrollbar-track:active{
    background-color: turquoise;
}
.estilo-texto-configuracion{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: black;
}
.estilo-texto-explicacion-configuracion{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: black;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1pt;
    padding-left: 7px;
}
.estilo-texto-configuracion::selection{
    color: red;
    background-color: yellow;
}
.estilo-texto-descripcion-configuracion{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    padding-top: 5px;
    padding-bottom: 2px;
    text-align: center;
}