<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Redes y Conectividad II</title>
        <link rel="stylesheet" href="../../../CSS/Cursos/courses.css">
    </head>
    <body>
        <section class="section-btn-topics-ev section-btn-topics-ev-hover" id="SectionBtnTopicsEv" aria-label="Seccion Seleccion de Interes">
            <button class="btn-topics button-topics-ev-hover" id="BtnTopics">Temas</button>
            <button class="btn-evaluations button-topics-ev-hover" id="BtnEvaluations">Evaluaciones</button>
        </section>
        <section class="section-evaluations-selection section-evaluations-selection-hover" id="SectionEvaluationsSelection" aria-label="Seccion Evaluaciones"></section>
        <section class="section-btn-units" id="SectionBtnUnits" aria-label="Seccion Temas Seleccion de Unidades"></section>
        <section class="section-index-for-topics" id="SectionIndexForTopics" aria-label="Seccion Indice de Temas"></section>
        <main class="right-section">
            <div class="container-content-for-topics-or-ev" id="ContainerContentForTopicsOrEv"></div>
        </main>
    </body>
    <script type="module" src="../../../JS/Cursos/Contents/redes-y-conectividad-II.js"></script>
</html>