<!DOCTYPE html>
<html lang="es">
    <div>
        <head>
            <meta name="keywords" content="VoIp, telefonia, Configurar VoIP, VLAN de voz">
            <meta name="Autor" content="Junior Ordoñez">
            <title>Configuracion VoIP</title>
            <link rel="stylesheet" href="order.css">
        </head>
        <body>
            <header>
            <h1>
                <span style="font-size: 15; font-family: 'Times New Roman', Times, serif; font-style: italic; color: aqua;"><center>CONFIGURACION DE TELEFONIA VOIP</center></span>
            </h1>
            </header>
            <h1>
                <center><span style="font-size: 4;font-family: 'Times New Roman', Times, serif;">SE TIENE LA SIGUIENTE TOPOLOGIA</span></center>
            </h1>
            <center><img src="/Images/Topologia-VoIP-1.png" alt=""></center>
            <div style="text-align: center;">
                <address><a href="index.html"><button style="background-color: chartreuse;">Volver</button></a></address>
            </div>
        </body>
        <footer>
            <small>Derechos reservados 2006-2024</small>
        </footer>
    </div>
</html>
