<!DOCTYPE html>
<html>
    <head>
        <title>Inicio</title>
        <link rel="icon" href="/Images/nube-icono.ico" type="image/x-icon">
        <link rel="stylesheet" href="/CSS/index.css">
    </head>
    <body>
        <header>
            <h1>Mi Pagina Personal</h1>
        </header>
        <nav>
            <ul class="navbar-container">
                <li class="navbar-link"><a href="">Acerca del proyecto</a></li>
                <li class="navbar-link"><a href="/Views/Cursos/select-semester.html">Ver Cursos</a></li>
                <li class="navbar-link"><a href="">Otros</a></li>
            </ul>
        </nav>
        <main>
            <section aria-label="Seccion Principal">

            </section>
        </main>
        <footer>
            <small>
                <p>
                    Pagina creada por Ordoñez Silva Junior
                    el <time datetime="2024-10-24">24 de octuble del 2024</time> 
                </p>
            </small>
        </footer>
    </body>
</html>