<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Semestres</title>
        <link rel="stylesheet" href="../../CSS/Semestres/semester-main.css">
    </head>
    <body>
        <header>
            <h1>
                Cursos por Semestre
            </h1>
        </header>
        <main>
            <section class="section-buttons-semesters section-buttons-semesters-hover" id="SectionButtonsSemester" aria-label="Seccion Seleccion de Semestre"></section>
            <section class="right-section" id="RightSection" aria-label="Seccion Descripcion">
                    <div class="backgorund-courses" id="BackgroundCourses"></div>

                    <div class="courses-section" id="CoursesSection">
                        <hgroup><h1>CURSOS</h1></hgroup>
                        <div class="container-courses-for-semester" id="ContainerCoursesForSemester"></div>
                    </div>
            </section>
        </main>
    </body>
    <script src="../../JS/Cursos/select-semester-main.js">
    </script>
</html>