<!DOCTYPE html>
<html lang="es">
    <head>
        <title>NetConfig</title>
        <link rel="stylesheet" href="/CSS/configurations-style.css">

        <link rel="icon" href="/Images/nube-icono.ico" type="image/x-icon">
    </head>
    <body>
        <!-- Modal Imagen Topologia -->
        <div class="window-modal-topology-image" id="ModalTopology">
            <div class="title-modal">
                <p>Topologia</p>
            </div>
            <div class="content-modal">
                <div class="image-topology">
                    <img src="https://community.cisco.com/legacyfs/online/legacy/5/4/7/181745-asdasdasdasd.jpg" alt="Topology">
                </div>
                <div class="container-btn-modal">
                    <button class="btn-modal" id="BtnCloseModal">Cerrar</button>
                    <a href="https://community.cisco.com/legacyfs/online/legacy/5/4/7/181745-asdasdasdasd.jpg" download><button class="btn-modal" id="BtnDownloadTopologyImg">Descargar Imagen</button></a>
                </div>
            </div>
        </div>
        <!-- FIN Modal Imagen Topologia -->


        <div class="left-section">
            <div class="section-prev-indications">
                <div class="title-prev-indications">
                    <h1 class="titles-style">Indicaciones Previas</h1>
                </div>
                <div class="content-prev-indications">
                    <a href="#" class="btn-prev-indications" id="LevelConfiguration">Nivel de Configuracion</a>
                    <a href="#" class="btn-prev-indications" id="UsedDevices">Dispositivos Usados</a>
                </div>
                <div class="hidden-window-prev-indications" id="WindowLvlConfiguration">
                    <p>Principiante</p>
                </div>
                <div class="hidden-window-prev-indications" id="WindowUsedDevices">
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="section-img-topology">
                <div class="image">
                    <img src="https://community.cisco.com/legacyfs/online/legacy/5/4/7/181745-asdasdasdasd.jpg" alt="Topology">
                </div>
                <div class="container-btn-expand-image">
                    <button class="style-btn-expand-image" id="BtnOpenModal">Expandir</button>
                </div>
            </div>
            <div class="section-buttons">
                <button class="btn-section-buttons">Volver</button>
                <button class="btn-section-buttons">Ir a la pagina principal</button>
                <button class="btn-section-buttons" id="BtnDisplayExplain">Mostrar explicacion paso a paso</button>
            </div>
        </div>
        <div class="right-section">
            <div class="section-configurations-commands" id="ConfigurationWindow">
                <div class="title-configurations-commands">
                    <h1>Elige el tipo de dispositivo de red</h1>
                </div>
                <div class="type-network-devices">
                    <div class="container-btn">
                        <button class="btn-type-network-devices" id="BtnRouters">Routers</button>
                        <button class="btn-type-network-devices" id="BtnSwitches">Switches</button>
                    </div>

                    <!-- 
                        La direccion de desplazamiento de estas ventanas es de  abajo hacia arriba 
                    -->
                    <!-- Ventana Routers -->
                    <div class="container-subsection-number-network-device" id="WindowSelectionN°Router">
                        <!-- Ventana R1 -->
                        <div class="window-n-network-device-commands-modeconfiguration" id="WindowCommandsPlusModeR1">
                            <p>
                                Commands
                            </p>
                        </div>

                        <div class="window-n-network-device-only-commands" id="WindowOnlyCommandsR1">
                            <p>
                                OnlyConfig
                            </p>
                        </div>
                        <!-- FIN Ventana R1  -->

                        <!-- Ventana R2 -->
                        <div class="window-n-network-device-commands-modeconfiguration" id="WindowCommandsPlusModeR2">
                            Commands
                        </div>

                        <div class="window-n-network-device-only-commands" id="WindowOnlyCommandsR2">
                            OnlyConfig
                        </div>
                        <!-- FIN Ventana R2  -->

                        <!-- Ventana R3 -->
                        <div class="window-n-network-device-commands-modeconfiguration" id="WindowCommandsPlusModeR3">

                        </div>

                        <div class="window-n-network-device-only-commands" id="WindowOnlyCommandsR3">
                            OnlyConfig
                        </div>
                        <!-- FIN Ventana R3  -->

                        <div class="container-btn">
                            <button class="btn-number-network-device" id="BtnR1">R1</button>
                            <button class="btn-number-network-device" id="BtnR2">R2</button>
                            <button class="btn-number-network-device" id="BtnR3">R3</button>
                        </div>
                    </div>
                    <!-- FIN Ventana Routers -->

                    <!-- Ventana Switches -->
                    <div class="container-subsection-number-network-device" id="WindowSelectionN°Switch">
                        <!-- Ventana S1 -->
                        <div class="window-n-network-device-commands-modeconfiguration" id="WindowCommandsPlusModeS1">

                        </div>

                        <div class="window-n-network-device-only-commands" id="WindowOnlyCommandsS1">

                        </div>
                        <!-- FIN Ventana S1 -->

                        <!-- Ventana S2 -->
                        <div class="window-n-network-device-commands-modeconfiguration" id="WindowCommandsPlusModeS2">

                        </div>

                        <div class="window-n-network-device-only-commands" id="WindowOnlyCommandsS2">

                        </div>
                        <!-- FIN Ventana S2 -->

                        <!-- Ventana S3 -->
                        <div class="window-n-network-device-commands-modeconfiguration" id="WindowCommandsPlusModeS3">

                        </div>

                        <div class="window-n-network-device-only-commands" id="WindowOnlyCommandsS3">

                        </div>
                        <!-- FIN Ventana S3 -->
                        <div class="container-btn">
                            <button class="btn-number-network-device" id="BtnS1">S1</button>
                            <button class="btn-number-network-device" id="BtnS2">S2</button>
                            <button class="btn-number-network-device" id="BtnS3">S3</button>
                        </div>
                    </div>
                    <!-- FIN Ventana Switches -->
                    


                    <div class="others">
                        <input type="checkbox" name="DisplayJustCommands" id="checkbox"><label for="DisplayJustCommands">Mostrar Solo Comandos</label>
                    </div>
                </div>
            </div>

            <!-- Ventana Explicacion configuracion -->
            <div class="section-configuration-explain" id="ExplainWindows">
                <div class="title-configuration-explain">
                    <h1>Elige un paso</h1>
                </div>
                <div class="content-configuration-explain">
                    <div class="container-pasos">
                        <button class="btn-pasos" id="BtnPaso1">Paso 1</button>
                        <button class="btn-pasos" id="BtnPaso2">Paso 2</button>
                        <button class="btn-pasos" id="BtnPaso3">Paso 3</button>
                        <button class="btn-pasos" id="BtnPaso4">Paso 4</button>
                        <button class="btn-pasos" id="BtnPaso5">Paso 5</button>
                    </div>
                    <div class="others">
                        <button class="btn-previous-step" id="BtnPreviousStep">Paso Anterior</button>
                        <button class="btn-next-step" id="BtnNextStep">Paso Siguiente</button>
                    </div>

                    <!-- Ventana Paso 1 -->
                    <div class="window-step" id="WindowStep1">
                        <p class="style-text-configuration-description">
                            Inserte descripcion aqui
                        </p>
                        <p class="style-text-commands">
                            Comando 1 ip nat inside source list 10 pool 10 overload <br>
                            Comando 2 crypto ipsec transform-set SET-VPN esp-aes esp-hmac-sha 
                        </p>
                    </div>
                    <!-- Fin Ventana Paso 1 -->


                    <!-- Ventana Paso 2 -->
                    <div class="window-step" id="WindowStep2">
                        2
                    </div>
                    <!-- Fin Ventana Paso 3 -->

                    
                    <!-- Ventana Paso 3 -->
                    <div class="window-step" id="WindowStep3">
                        3
                    </div>
                    <!-- Fin Ventana Paso 3 -->


                    <!-- Ventana Paso 4 -->
                    <div class="window-step" id="WindowStep4">
                        4
                    </div>
                    <!-- Fin Ventana Paso 4 -->


                    <!-- Ventana Paso 5 -->
                    <div class="window-step" id="WindowStep5">
                        5
                    </div>
                    <!-- Fin Ventana Paso 5 -->
                </div>
            </div>
            <!-- FIN Ventana Explicacion configuracion -->
        </div>

        <!-- 
            Para poder usar el codigo js, usamos src y colocamos ".." al inicio para indicar que esta en una carpeta superior,
            colocamos type="module", para indicar que el html puede usar modulos importados del js. Ademas colocamos "defer" para
            indicar que todo el codigo JS se cargara despues del HTML, es util cuando en el JS manipulamos el DOM del HTML.
        -->
        <script src="../../JS/JS_Core/Core_Views/JS-action-buttons.js" defer></script>
        <script type="module" src="../../JS/JS_Views/Router_Configuration_Section/osfp_routing_medium.js" defer></script>
    </body>
</html>